<div class="modal-content">
    <div class="modal-header" style="border: none;">
      <div class="d-flex justify-content-between align-items-center w-100">
        <h5 class="modal-title text-center mx-auto">{{ title }}</h5>
        <button type="button" class="btn btn-close-modal" (click)="close()">X</button>
      </div>
    </div>
    <div class="modal-body">
      <form  [formGroup]="form" (ngSubmit)="save()" class="row g-3 d-flex justify-content-center">
  
        <input type="text" hidden id="id" formControlName="id">

        <div class="form-group row mb-2">
            <label for="network_id" class="col-sm-6 label">Service Provider</label>
            <div class="col-sm-6">
              <select class="form-select" id="network_id" formControlName="network_id">
                @for (item of serviceProviderList; track $index) {
                <option value="{{ item.network_id }}">{{ item.name }}</option>
                }
              </select>
              <span class="text-danger mt-2" *ngIf="validInput('network_id')">
                the field is required
              </span>
            </div>
        </div>
  
        <div class="form-group row mb-2">
          <label for="name" class="col-sm-6 label">Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="name" formControlName="name"
              >
            <span class="text-danger mt-2"  *ngIf="validInput('name')">
              the field is required
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
            <label for="name" class="col-sm-6 label">Description</label>
            <div class="col-sm-6">
                <textarea class="form-control" id="description" formControlName="description"
                    ></textarea>
                <span class="text-danger mt-2"  *ngIf="validInput('description')">
                    the field is required
                </span>
            </div>
        </div>

        <div class="form-group row mb-2">
          <label for="request_dlr" class="col-sm-6 label">Request DLR</label>
          <div class="col-sm-6">
            <input type="checkbox" class="form-check-input check_form" id="request_dlr" name="request_dlr" formControlName="request_dlr">
            <span class="text-danger mt-2" *ngIf="validInput('request_dlr')">
              the field is required
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="name" class="col-sm-6 label">Load File</label>
          <div class="col-sm-6">
            <input type="file" id="upload" hidden (change)="handleFileChange($event)" />
            <label for="upload" id="file-label" class="choose-file">Choose file</label>
            <div id="file-name" class="file-name">No file chosen</div>
          </div>
          <div *ngIf="isLoadingFile" class="progress mt-2">
            <div class="progress-bar" role="progressbar" style="background-color: #7B3031 !important;"
                 [ngStyle]="{'width.%': uploadProgress}"
                 [attr.aria-valuenow]="uploadProgress"
                 aria-valuemin="0" aria-valuemax="100">
              {{ uploadProgress }}%
            </div>
          </div>
        </div>

        <div *ngIf="isEdit">
            <hr>
            <h6 class="mb-2 mt-2">Details of executed tasks</h6>
    
            <div class="form-group row mb-2">
                <label for="name" class="col-sm-6 label">Total Messages</label>
                <div class="col-sm-6">
                  <label for="">{{ statistics.total_message }}</label>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="name" class="col-sm-6 label">Pending</label>
                <div class="col-sm-6">
                  <label for="">{{ statistics.pending }}</label>
                </div>
            </div>
            <div class="form-group row mb-2">
              <label for="name" class="col-sm-6 label">Enqueue</label>
              <div class="col-sm-6">
                <label for="">{{ statistics.enqueue }}</label>
              </div>
          </div>
          <div class="form-group row mb-2">
            <label for="name" class="col-sm-6 label">Sent</label>
            <div class="col-sm-6">
              <label for="">{{ statistics.sent }}</label>
            </div>
          </div>
          <div class="form-group row mb-2">
            <label for="name" class="col-sm-6 label">Failed</label>
            <div class="col-sm-6">
              <label for="">{{ statistics.failed }}</label>
            </div>
          </div>
          <div class="form-group row mb-2">
              <label for="name" class="col-sm-6 label">Status</label>
              <div class="col-sm-6">
                <label for="">{{ broadcast.status }}</label>
              </div>
          </div>
        </div>
  
        <button class="btn btn-red mt-4" style="width: 60%;" 
          [disabled]="!disabled || form.invalid" 
          type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
  